
<!DOCTYPE html>
<html>
  <head>
    <title>Diamond Hunter Game</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css"/>
    <script type="text/javascript" src="/assets/app.js"></script>
 </head>
  <body>
  <header class="game-heading"><h3>Diamond Hunter</h3></header>
    <div id="container">
        <h4 class="game-heading">Click to play! Find the diamonds</h4>
        <div class="diamondsweeper-board">
          <div class="cell-row">
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
          </div>
          <div class="cell-row">
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
          </div>
          <div class="cell-row">
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
          </div>
          <div class="cell-row">
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
          </div>
          <div class="cell-row">
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
          </div>
          <div class="cell-row">
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
          </div>
          <div class="cell-row">
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
          </div>
          <div class="cell-row">
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
            <div class="cell unknown"></div>
          </div>
        </div>
    </div>
    <script type="text/javascript">startApp(document.getElementById("container"));</script>
  </body>
</html>
